    header {
        display: flex;
        height: 160px;
        align-content: center;
    }

    button {
        border: none;
        border-radius: 30px;
        width: 100%;
        margin: 5px;
        height: 100%;
        outline: none;
    }

    button:hover {
        opacity: 0.8;
    }

    li.a_propos button, li.s_inscrire button {
        background-color: #B8B0D9;
    }

    li.ouvrir button {
        background-color: #4F4573;
        color: white;
    }

    li.a_propos, li.s_inscrire, li.ouvrir {
        width: 25%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li a {
        width: 100%;
        height: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        width: 80%;
    }

    header a:first-of-type {
        display: flex;
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: flex-end;
    }