body {
    background-color: #0F0426;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Archivo Narrow", sans-serif;
    height: 100vh;
}

img {
    margin-top: 50px;
}

button {
    height: 5%;
    width: 60%;
    border-radius: 15px;
    background-color: #7668A6;
    opacity: 60%;
    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    margin-top: 50%;
    border: none;
}



span {
    font-size: 15px;
    margin-top: 5%;
}