main img {
    height: 70%;
    position: absolute;
    bottom: -100px;
    left: -50px;
}

main {
    height: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
}

div.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    text-align: center;
}

main button {
    width: 40%;
    margin: 0 auto;
    font-family: "Julius Sans One", sans-serif;
}

.content a:first-of-type {
  height: 50px;
}

main button#acceder {
    background-color: #4F4573;
    color: white;
}

main button#creer {
    background-color: #B8B0D9;
}

.content a {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 35px;
    text-decoration: none;
}

.content * {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 75px;
}