html {
    font-family: 'Archivo', sans-serif;
    position: relative;
    color: #150F40;
}

body {
    position: relative;
}

h1, h2, header {
    font-family: 'Julius Sans One', sans-serif;
}

h1 {
    text-indent: -9999px;
    position: absolute;
}

li, li a {
    list-style-type: none;
    text-decoration-line: none;
    color: #150F40;
    font-size: 18px;
}

figure {
    width: auto;
}

body header ul {
    display: inline-flex;
}

nav li.ouvrir a {
    color: white;
}

p {
    font-size: 20px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #B8B0D9;
    margin: 25px 0;
}

footer * {
    margin: 5px auto;
}